---
layout: default
---
			{% include header.html %}

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Sponsor</h2>
							<p>Our program relies on the generousity of donors.</p>
						</header>

						<!-- Content -->
							<section id="content">
								<a href="{{ site.url }}{{ site.baseurl }}/#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/cagebirds1.jpg" alt="" /></a>
								<p>There are many ways you can help sponsor Bryan Station Theatre. We sell ad spots in programs for our shows along side other programs. For more information contact Amie Kising: <a href="mailto://amie.kisling@fayette.kyschools.us">amie.kisling@fayette.kyschools.us</a></p>
							</section>

					</div>
				</div>

			{% include footer.html %}
