                <!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/BryanStationTheatre/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/bshstheatre/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto://amie.kisling@fayette.kyschools.us" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Bryan Station Theatre. All rights reserved.</li>
					</ul>
				</footer>
