                <!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ site.url }}{{ site.baseurl }}/index.html">Bryan Station Theatre</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ site.url }}{{ site.baseurl }}/index.html">Home</a></li>
							<li>
								<a href="https://www.facebook.com/events/1817093461949057/">Wizard of Oz</a>
								<!--<a>Shows</a>
								<ul>
									<li><a href="{{ site.url }}{{ site.baseurl }}/no-sidebar.html">The Wizard of Oz</a></li>
									<li><a href="{{ site.url }}{{ site.baseurl }}/no-sidebar.html">The Cagebirds</a></li>
									<li><a href="{{ site.url }}{{ site.baseurl }}/no-sidebar.html">The Lion, the Witch, and the Wardrobe</a></li>
									<li><a href="{{ site.url }}{{ site.baseurl }}/no-sidebar.html">Bye Bye Birdie</a></li>
									<li><a href="{{ site.url }}{{ site.baseurl }}/no-sidebar.html">Jungalbook</a></li>
									<li><a href="{{ site.url }}{{ site.baseurl }}/no-sidebar.html">Seussical the Musical</a></li>
									<li><a href="{{ site.url }}{{ site.baseurl }}/no-sidebar.html">I Never Saw Another Butterfly</a></li>
								</ul>-->
							</li>
							<li><a href="{{ site.url }}{{ site.baseurl }}/sponsor.html">Sponsor</a></li>
							<li><a href="mailto://amie.kisling@fayette.kyschools.us">Contact</a></li>
						</ul>
					</nav>
				</header>
